<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/icon.svg" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/psw-nav.css">
    <title>Le mie password</title>
</head>

<body>
    <div class="text-center justify-content-center pt-4" id="loader">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>

    <div class="container p-2" style="margin-bottom: 80px;">
        <div class="row" id="values"></div>
        <div class="row text-center" id="no-password" style="display: none;">
            <div class="col-sm-12">
                Al momento non sono memorizzate password premi qui per aggiungerne una nuova
                <span class="badge bg-primary">
                    <a href="/nuova-password.html" class="text-white">Aggiungi una password</a>
                </span>
            </div>
        </div>  
    </div>

    <nav class="nav">
        <a href="/index.html" class="nav__link">
            <img class="nav__icon" src="/static/images/house-fill.svg"></img>
            <span class="nav__text">Home</span>
        </a>
        <a href="/nuova-password.html" class="nav__link">
            <img class="nav__icon" src="/static/images/new-pswd.svg" alt="Crea una nuova password"></img>
            <span class="nav__text">Aggiungi</span>
        </a>
        <a onclick="reload()" class="nav__link">
            <img class="nav__icon" src="/static/images/refresh.svg"></img>
            <span class="nav__text">Aggiorna</span>
        </a>
        <a onclick="logout()" class="nav__link">
            <img class="nav__icon" src="/static/images/arrow-return-left.svg"></img>
            <span class="nav__text">Logout</span>
        </a>
    </nav>
    <script src="/static/js/requests.js"></script>
    <script src="/static/js/passwords.js"></script>
    <script src="/static/js/createPswHtml.js"></script>
</body>

</html>